*{
  margin: 0;
  padding: 0;
  /* background-color: #e1e1e1; */
}

body{
  background-color: #f1f1f1;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  
}
.card img {
  max-width: 100%;
  max-height: 40vh;
}


.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.c-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#tablecard{
  border-radius: 15px;
}
#pm{
  text-align: center;
  border-radius: 10px;
	background: rgb(78, 78, 255);
	padding: 20px;
	color: white;
}

table tr td{
	max-width: 500px;
}

#featuresSection{
  justify-content: space-evenly;
}

.dhanu{
  float: left;
}

.dhanu:hover
{
  cursor: pointer;
  color: whitesmoke;
  border-bottom: 2px whitesmoke solid;
}

.toggleNavbar{
  background-color: black;
  transition: all 1s;
}
